 .fullscreen-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
 }

.fullscreen-content__header {
    padding-top: 60px;
}

.fullscreen-content__scroll {
    height: 6vh;
}