.controls--works {
    .controls__item {
        &:nth-child(1) > .btn {
            transform: rotate(-90deg);
        }

        &:nth-child(2) > .btn {
            transform: rotate(90deg);
        }
    }
}