.userinfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  @include desktop {
    flex-direction: row;
    justify-content: center;
  }

  @include tablets {
    flex-direction: column;
  }

  &__title {
    font-size: 18px;
    line-height: 30px;
    color: rgba($text-color, .5);
    font-weight: 600;
    margin-bottom: 24px;
    @include desktop {
      margin-right: 34px;
    }
  }

  &__name {
    font-weight: 800;
    font-size: 72px;
    line-height: 60px;
  }
}

