.works-info__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 26px;
}

.works-info__tag-item {
    margin-right: 15px;
    margin-bottom: 15px;
}

.works-info__title {
    font-size: 30px;
    margin-bottom: 42px;
    font-weight: bold;
}



.works-info__desc {
    font-weight: 600;
    color: rgba($text-color, .7);
    line-height: 1.8;
    margin-bottom: 38px;

}


.works-info__link {
    display: block;
    &:hover {
        text-decoration-line: underline;
    }
}