.reviews-section {
  background: url('~images/bg/bg_budda.png') top right 53% / cover no-repeat;
  padding-top: 253px;
  padding-bottom: 135px;
  display: flex;
}

.reviews-section__content {
  width: 75%;
  @include tablets {
    width: 100%;
  }
}
