.reviews-section {
    background: url('~images/bg/bg_budda.png') top right 53% / cover no-repeat;
    padding-top: 200px;
    padding-bottom: 120px;
    display: flex;
    @include tablets {
        padding-top: 120px;
        padding-bottom: 60px;
    }
}

.reviews-section__content {
    width: 100%;
    max-width: 1000px;
}
