- var menuLinks = [["Обо мне", "about"], ["Навыки", "skills"], ["Работы", "works"], ["Отзывы", "reviews"]];

mixin menu(mod)
    -var menuClass = mod === undefined ? "menu" : `menu menu--${mod}`
    nav(class=menuClass)
        ul.menu__list
            each item in menuLinks
                li.menu__item
                    a(href=`#${item[1]}`).menu__link #{item[0]}