mixin reviewer(reviewer)
    .reviewer
        .reviewer__avatar
            .reviewer__pic-wrapper
                +image(`content/${reviewer.imgName}.jpg`, 'user-min__avatar-pic')
        .reviewer__info
            .reviewer__name #{reviewer.name}
            .reviewer__occ #{reviewer.occ}