-
    var skillsCategories = [
        ["Front-end", ["HTML5", "CSS3", "Javascript", "Vue.js"]],
        ["Workflow", ["GIT", "Terminal", "Gulp", "Webpack"]]
    ];

mixin skills
    ul.skills
    each category in skillsCategories
        li.skills__item
            +skills-row(category[0],category[1])
