- var socials = ['insta', 'github', 'vk', 'envelope'];

mixin socials(mod)
    -var socialsClass = mod === undefined ? "socials" : `socials socials--${mod}`
    div(class=socialsClass)
        each item in socials
            li.socials__item
                a(href=`${item === 'envelope' ? 'mailto:egerix@mail.ru' : '#'}`).socials__link
                    +icon(item, 'socials__icon')