mixin text-quote
    .text-quote
        .text-quote__text
            p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
        .text-quote__author Martin Golding
