mixin works-slider
    .works-slider
        .works-slider__fream
            .works-slider__preview
                +image('content/slide-1-full.png', 'works-slider__image')
            .works-slider__buttons
                button.works-slider__btn--next
                button.works-slider__btn--prev
            .works-slider__thumbnails
                +thumbnails
            .works-slider__number 4