include ./mixins/icon
include ./mixins/image
include ./mixins/socials
include ./mixins/menu
include ./mixins/userinfo
include ./mixins/burger
include ./mixins/scroll-down
include ./mixins/user
include ./mixins/triangles
include ./mixins/skill
include ./mixins/skills
include ./mixins/thumbnails
include ./mixins/works-slider
include ./mixins/tags
include ./mixins/work
include ./mixins/quote
include ./mixins/reviews
include ./mixins/text-quote
include ./mixins/logo
include ./mixins/skills-row
include ./mixins/reviewer

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Portfolio | main page
    body
        .wrapper
            .welcome
                .fullscreen-content
                    .container.fullscreen-content__header
                        header.header
                            .header__logo
                                +logo
                            .header__menu
                                +menu
                            .header__socials
                                +socials
                            .header__burger
                                +burger
                    .container.fullscreen-content__hero
                        section.hero
                            .container.hero__container
                                +userinfo
                    .container.fullscreen-content__scroll
                        +scroll-down
                section.about
                    .container.about__container
                        .about__user
                            +user
                        .about__user-text
                            .about__main-text-content
                                .about__desc Привет, меня зовут
                                .about__title Егор Иванов
                                .about__text-info
                                    p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                            .about__ps
                                .about__ps-star
                                    +icon("star", 'about__ps-star-pic')
                                .about__ps-text
                                    | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

            +triangles("top")
            .middle
                section.values
                    .container.values__container
                        .values__content
                            .values__header
                                .values__title-text Чем я могу быть полезен вам
                                .values__title-content
                                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                            .values__skills
                                .values__skills-container
                                    +skills
                section.works#works
                    .container.works__container
                        .works__title Мои работы
                        .works__wrapper
                            .works__slider
                                +works-slider
                            .works__content
                                .works__tags
                                    +tags
                                +work
            +triangles("bottom")
            section.contacts
                .container.contacts__container
                    .contacts__about
                        +reviews
            footer.footer
                .container.footer__container
                    .footer__copyright
                        .footer__copyright-col
                            .footer__copyright-year &copy; 2020
                        .footer__copyright-userinfo
                            .footer__copyright-name Егор Иванов
                            .footer__data-text--gray Личный сайт веб - разработчика
                    .footer__data
                        .footer__data-menu
                            +menu("footer")
                        .footer__data-content
                            .footer__data-col
                                .footer__data-text
                                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                                .footer__data-socials
                                    +socials("round-borders")
                            .footer__data-col
                                +text-quote
